*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    height: 100vh;
    width: 100%;
    font-family: "Poppins",sans-serif;
}

header nav h1{
    margin: 10px 0;
    padding: 20px;
    color: azure;
}
main{
    min-height: 80vh;
}
.head-2{
    margin: 10px;
}
.conv-box{
    display: block;
    margin: 10vh 20vw;
    padding: 15px 0;
    text-align: center;
    color:#DFFFF9;
    background-color: #231123;
    border-radius: 10px;
}

.controls {
  display: flex;
  gap: 5px;
  margin-bottom: 15px;
  justify-content: center;
}

input[type="number"] {
  padding: 10px 5px;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  width: 70%;
}

button#height-swap {
  background-color: #2563EB;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s ease;
}

button#height-swap:hover {
  background-color: #1e40af;
}

button#weight-swap {
  background-color: #2563EB;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s ease;
}

button#weight-swap:hover {
  background-color: #1e40af;
}


#conversion-label {
  margin-top: 15px;
  font-size: 15px;
  color: #d1d5db;
}
#height-result {
  margin: 5px 50px;
  font-size: 20px;
  font-weight: bold;
  color: #fbbf24;
}

#weight-result {
  margin: 5px 50px;
  font-size: 20px;
  font-weight: bold;
  color: #fbbf24;
}

#bmi-result {
  margin: 5px 50px;
  font-size: 20px;
  font-weight: bold;
  color: #fbbf24;
}

#bmi-result {
  margin-top: 15px;
  font-size: 20px;
  color: #facc15;
  font-weight: bold;
}

#bmi-comment {
  margin-top: 10px;
  font-size: 15px;
  font-weight: bold;
  color: #FF924B;
} 

.bmi-meter {
  margin: 20px auto;
  padding: 10px;
  max-width: 80%;
  text-align: center;
}

.bmi-bar {
  width: 100%;
  height: 20px;
  border-radius: 10px;
  background: linear-gradient(to right, red 0%, yellow 25%, green 50%, yellow 75%, red 100%);
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}

#bmi-fill {
  height: 100%;
  background-color: #8000ff;
  width: 0%;
  border-radius: 10px;
  transition: width 2s ease;
}

.bmi-labels {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  color: white;
  margin: 0 5px;
}



.footer-note {
    text-align: center;
    font-size: 14px;
    color: grey;
    margin-top: 40px;
    padding: 20px ;
    background-color: #222222;
}